@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-display: swap;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-display: swap;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
  text-transform: uppercase; }

html,
body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.page-wrapper {
  min-width: 320px;
  background: #f2f2f2;
  display: block;
  margin: 0 auto; }

.page-main {
  position: relative; }

.site-width {
  text-align: center;
  margin: 0 auto;
  overflow: hidden; }

@media (min-width: 1200px) {
  .site-width {
    width: 1200px;
    -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1); } }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.site-list {
  list-style-type: none; }

.btn-normalize {
  background: none;
  border: none;
  outline: none; }

.site-button {
  display: block;
  background: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  padding: 15px;
  outline: none;
  border: none;
  cursor: pointer; }

.separator {
  position: relative; }

.separator::after {
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (min-width: 768px) {
  .separator::after {
    display: none; } }

.site__line-break {
  display: inline;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

@media (min-width: 768px) {
  .site__line-break {
    display: block; } }

@media (min-width: 768px) {
  .site__line-break--limited {
    display: inline; } }

.copyright__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 0; }

@media (min-width: 1200px) {
  .copyright__wrapper {
    position: relative;
    left: 85px;
    bottom: 4px; } }

.copyright__icon {
  display: inline-block;
  fill: #000000;
  width: 27px;
  height: 34px;
  margin-left: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.copyright__wrapper:hover .copyright__icon {
  fill: #81b3d2; }

.copyright__wrapper:active .copyright__icon {
  fill: #b2b2b2; }

.copyright__text {
  font-size: 14px;
  line-height: 26px; }

.features {
  position: relative;
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .features {
    width: 768px; } }

@media (min-width: 1200px) {
  .features {
    width: 1200px; } }

.features__ul-group {
  list-style: none;
  background: #ffffff; }

.features__ul-list {
  padding: 28px 20px 20px; }

.features__ul-list--low {
  padding: 0 0 0 0; }

@media (min-width: 768px) {
  .features__ul-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 0 0;
    height: 330px; }
  .features__ul-list--low {
    height: 256px; } }

.features__contents {
  padding: 40px 25px 0; }

@media (min-width: 768px) {
  .features__contents {
    width: 256px;
    padding: 45px; }
  .features__contents--reversed {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (min-width: 1200px) {
  .features__contents {
    width: 400px;
    padding: 55px; } }

.features__item {
  padding: 20px 25px 0;
  font-size: 0;
  display: block;
  overflow: hidden; }

.features__item--detailed {
  background: #81b3d2;
  color: #ffffff;
  padding: 0 0 0; }

.features__item--arrowed {
  padding: 30px 0 0; }

@media (min-width: 768px) {
  .features__item,
  .features__item--arrowed {
    padding: 0 0 0 0;
    height: 256px; }
  .features__item--gifts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

@media (min-width: 1200px) {
  .features__item--detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .features__item--detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.features__item--unordered {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 8px 0; }

.features__item--brief {
  background: #eeeeee;
  position: relative;
  padding: 25px 25px 0; }

@media (min-width: 768px) {
  .features__item--unordered,
  .features__item--brief {
    padding: 60px 45px;
    height: 100%;
    width: 256px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 768px) {
  .features__item--brief {
    padding: 45px 45px; }
  .features__item--brief:nth-of-type(2) {
    padding: 45px 49px; } }

@media (min-width: 1200px) {
  .features__item--unordered {
    width: 400px;
    padding: 60px 50px 80px; } }

@media (min-width: 1200px) {
  .features__item--brief {
    width: 400px;
    padding: 45px 50px 70px; } }

.features__item--brief::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #d6d6d6;
  width: 87%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  left: 50%; }

@media (min-width: 768px) {
  .features__item--brief::after {
    border-bottom: none; } }

.features__item--brief:last-of-type::after {
  border-bottom: none; }

.features__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0 auto 10px;
  width: 100%; }

.features__title--unordered {
  text-align: left;
  width: auto;
  margin: 0 0 0 10px; }

@media (min-width: 768px) {
  .features__title,
  .features__title--unordered {
    text-align: center;
    font-size: 21px; }
  .features__title--unordered {
    margin: 0 0 0 0; } }

.features__title--highlight {
  color: #ffffff; }

@media (min-width: 768px) {
  .features__title--highlight {
    padding-top: 0; } }

.features__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 40px; }

@media (min-width: 768px) {
  .features__description {
    padding-bottom: 0; }
  .features__description--number {
    padding-bottom: 20px; } }

.features__description--unordered {
  text-align: left;
  padding: 8px 0 10px 50px;
  width: 100%; }

@media (min-width: 768px) {
  .features__description--unordered {
    padding: 0 0 0 0;
    text-align: center; } }

.features__description--highlight {
  color: #ffffff; }

.features__description--number {
  padding-bottom: 14px; }

@media (min-width: 768px) {
  .features__description--number {
    padding-bottom: 20px; } }

.features__description--number::after,
.features__description--number::before {
  content: " — "; }

.features__description--brief {
  padding-bottom: 30px; }

.features__cover {
  width: 320px;
  display: block;
  background-color: #92807c; }

@media (min-width: 768px) {
  .features__cover {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 512px;
    height: 256px; } }

@media (min-width: 1200px) {
  .features__cover {
    width: 800px;
    height: 400px; } }

.features__icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  background-size: 39px 37px;
  height: 40px;
  width: 40px; }

.features__icon--house {
  background-image: url("../img/icon-house.svg"); }

.features__icon--gift {
  background-image: url("../img/icon-gift.svg"); }

.features__icon--burger {
  background-image: url("../img/icon-burger.svg"); }

@media (min-width: 768px) {
  .features__icon {
    background-size: 75px 72px;
    height: 75px;
    width: 75px; } }

.feedback {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .feedback {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 60px; } }

@media (min-width: 1200px) {
  .feedback {
    width: 1200px;
    padding: 0 120px; } }

.feedback__questions-set {
  padding: 19px 20px 27px; }

.feedback__questions-set--text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

@media (min-width: 768px) {
  .feedback__questions-set--text {
    width: 324px;
    padding: 0 0 0 55px;
    border-left: 1px solid #d6d6d6; } }

@media (min-width: 1200px) {
  .feedback__questions-set--text {
    width: 400px;
    padding: 0 0 0 80px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; } }

.feedback__questions-set--radio {
  padding: 19px 20px 29px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

@media (min-width: 768px) {
  .feedback__questions-set--radio {
    width: 324px;
    padding: 0 50px 0 0; } }

@media (min-width: 1200px) {
  .feedback__questions-set--radio {
    width: 400px; } }

.feedback__questions-set--misc {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%; }

@media (min-width: 768px) {
  .feedback__questions-set--misc {
    padding: 70px 0 34px; } }

.feedback__questions-set--check {
  padding: 19px 20px 27px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%; }

@media (min-width: 768px) {
  .feedback__questions-set--check {
    padding: 19px 0 0; } }

.feedback__questions-set--textarea {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 100%; }

@media (min-width: 768px) {
  .feedback__questions-set--textarea {
    padding: 37px 0 40px; } }

@media (min-width: 1200px) {
  .feedback__questions-set--textarea {
    padding: 66px 0 36px; } }

@media (min-width: 768px) {
  .feedback__items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative; }
  .feedback__items-wrapper--check {
    max-height: 200px;
    left: 30px; } }

@media (min-width: 1200px) {
  .feedback__items-wrapper--check {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: auto; } }

@media (min-width: 1200px) {
  .feedback__items-wrapper--misc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 19px 0;
  position: relative; }

@media (min-width: 768px) {
  .feedback__title {
    font-size: 21px; } }

.feedback__title--separator::before,
.feedback__title--separator::after {
  content: "";
  display: none;
  height: 1px;
  width: 125px;
  background: #d6d6d6;
  position: absolute;
  top: 13px;
  left: 0; }

@media (min-width: 768px) {
  .feedback__title--separator::after,
  .feedback__title--separator::before {
    display: block; } }

@media (min-width: 768px) {
  .feedback__title--separator::after {
    left: auto;
    right: 0; } }

@media (min-width: 1200px) {
  .feedback__title--separator::after,
  .feedback__title--separator::before {
    width: 280px; } }

@media (min-width: 768px) {
  .feedback__title--text {
    text-align: left;
    margin: 0 0 56px 0; } }

.feedback__title--misc {
  margin: 0 0 23px 0; }

@media (min-width: 768px) {
  .feedback__title--misc {
    margin: 0 0 29px 0; } }

@media (min-width: 1200px) {
  .feedback__title--misc {
    margin: 0 0 72px 0; } }

.feedback__title--check {
  margin: 0 0 15px 0; }

@media (min-width: 768px) {
  .feedback__title--check {
    padding: 0 125px;
    margin: 0 0 41px 0; } }

@media (min-width: 1200px) {
  .feedback__title--check {
    padding: 0 300px; } }

@media (min-width: 768px) {
  .feedback__title--check::after,
  .feedback__title--check::before {
    top: 25px; } }

.feedback__title--radio {
  margin: 0 0 21px 0; }

@media (min-width: 768px) {
  .feedback__title--radio {
    text-align: left;
    margin: 0 0 58px 0; } }

@media (min-width: 1200px) {
  .feedback__title--radio {
    text-align: right;
    margin: 0 0 58px 0; } }

.feedback__title--textarea {
  margin: 0 0 14px 0; }

@media (min-width: 768px) {
  .feedback__title--textarea {
    margin: 0 0 52px 0; } }

.feedback__item {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.feedback__item:last-of-type {
  margin: 0 0 0 0; }

.feedback__item--misc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 0 0 17px 0; }

@media (min-width: 768px) {
  .feedback__item--misc {
    margin: 0 0 26px 0; } }

@media (min-width: 1200px) {
  .feedback__item--misc {
    width: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 0; }
    .feedback__item--misc:nth-of-type(2) {
      width: auto; } }

.feedback__item--radio,
.feedback__item--check {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 13px 0; }
  .feedback__item--radio:last-of-type,
  .feedback__item--check:last-of-type {
    margin: 0 0 0 0; }

@media (min-width: 768px) {
  .feedback__item--radio {
    margin: 0 0 21px 0; } }

.feedback__item--check {
  margin: 0 0 24px 0;
  width: 260px; }

@media (min-width: 768px) {
  .feedback__item--check {
    margin: 0 0 32px 0; } }

@media (min-width: 1200px) {
  .feedback__item--check {
    margin: 0 0 0 0;
    width: auto; }
    .feedback__item--check:nth-of-type(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .feedback__item--check:nth-of-type(3) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .feedback__item--check:nth-of-type(4) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; } }

.feedback__answer {
  background: #f2f2f2;
  border: none;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 20px 0 24px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height: 58px; }

.feedback__answer:-ms-input-placeholder {
  font-size: 16px; }

.feedback__answer:focus::-webkit-input-placeholder {
  color: transparent; }

.feedback__answer:focus::-moz-placeholder {
  color: transparent; }

.feedback__answer::-webkit-input-placeholder {
  color: black; }

.feedback__answer::-moz-placeholder {
  color: black;
  opacity: 1; }

.feedback__answer:hover {
  background: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.feedback__answer:active,
.feedback__answer:focus {
  border: 4px solid #e6e6e6;
  background: #ffffff;
  -webkit-transition: 0s;
  transition: 0s; }

.feedback__answer--radio,
.feedback__answer--check {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

@media (min-width: 1200px) {
  .feedback__answer--misc {
    width: 315px; } }

.feedback__answer--textarea {
  resize: none;
  padding: 20px 20px 18px 20px;
  height: 118px;
  -ms-overflow-style: none; }

.feedback__question {
  font-size: 14px;
  color: #333333;
  margin: 0 12px 0 0;
  text-align: left; }

.feedback__question--misc {
  padding: 0 0 11px 20px; }

@media (min-width: 1200px) {
  .feedback__question--misc {
    padding: 0 0 0 0;
    margin: 0 14px 0 0;
    display: block; } }

.feedback__question--radio,
.feedback__question--check {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: #000000;
  width: 100%;
  padding: 23px 0 23px 80px;
  margin-right: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.feedback__item:hover .feedback__question::before {
  background: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.feedback__item:active .feedback__question::before {
  background: #d6d6d6;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.feedback__question--check {
  padding: 15px 0 15px 80px; }

.feedback__question--check::before {
  content: "";
  display: block;
  border-radius: 6px;
  background: #f2f2f2;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.feedback__question--check:hover::before {
  background: #e6e6e6; }

.feedback__answer--check:checked + .feedback__question--check::after {
  content: "";
  display: block;
  background: url("../img/icon-tick.svg") no-repeat;
  width: 24px;
  height: 16px;
  position: absolute;
  left: 18px;
  top: 20px; }

.feedback__answer--check:active + .feedback__question--check::after {
  opacity: 0.3; }

.feedback__question--radio {
  padding: 15px 0 15px 80px; }

.feedback__question--radio::before {
  content: "";
  display: block;
  border-radius: 50%;
  background: #f2f2f2;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0; }

.feedback__answer--radio:checked + .feedback__question--radio::after {
  content: "";
  display: block;
  border-radius: 50%;
  background: #333333;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 17px;
  top: 17px; }

.feedback__answer--radio:active + .feedback__question--radio::after {
  background: #b2b2b2; }

.feedback__answer__wrapper {
  position: relative;
  width: 100%; }
  .feedback__answer__wrapper::before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0;
    right: 0; }
  .feedback__answer__wrapper::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-repeat: no-repeat; }

.feedback__answer__wrapper--email::after {
  background-image: url("../img/icon-mail.svg"); }

.feedback__answer__wrapper--tel::after {
  background: url("../img/icon-phone.svg"); }

@media (min-width: 1200px) {
  .feedback__answer__wrapper {
    width: auto; } }

.feedback__completion {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 68px 20px 43px; }

@media (min-width: 768px) {
  .feedback__completion {
    padding: 67px 0 63px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1200px) {
  .feedback__completion {
    padding: 67px 0 69px; } }

.feedback__button {
  width: 100%;
  display: block; }

@media (min-width: 768px) {
  .feedback__button {
    width: 324px; } }

@media (min-width: 1200px) {
  .feedback__button {
    width: 480px; } }

.feedback__legend {
  font-size: 14px;
  display: none; }

@media (min-width: 768px) {
  .feedback__legend {
    display: block; } }

.feedback__hidden {
  display: inline; }

@media (min-width: 1200px) {
  .feedback__hidden {
    display: none; } }

.hashtag {
  padding: 0 32px 34px;
  display: block; }

@media (min-width: 768px) {
  .hashtag {
    padding: 0 0;
    line-height: 26px; } }

.hashtag__name {
  font-size: 21px;
  color: #000000;
  font-weight: 700; }

.intro {
  padding: 44px 30px 12px;
  margin: 0 auto;
  width: 320px;
  background: #ffffff;
  position: relative; }

@media (min-width: 768px) {
  .intro {
    width: 768px;
    padding: 50px 20px 50px; } }

@media (min-width: 1200px) {
  .intro {
    width: 1200px;
    padding: 50px 20px 50px; } }

.intro--photo {
  padding: 37px 25px 28px; }

@media (min-width: 768px) {
  .intro--photo {
    padding: 75px 165px 67px; } }

@media (min-width: 1200px) {
  .intro--photo {
    padding: 112px 385px 69px; } }

.intro--form {
  padding: 39px 22px 17px; }

@media (min-width: 768px) {
  .intro--form {
    padding: 75px 165px 75px; } }

@media (min-width: 1200px) {
  .intro--form {
    padding: 112px 300px 60px; } }

.intro--home::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  width: 320px;
  height: 37px;
  bottom: -30px;
  left: 0;
  z-index: 1; }

@media (min-width: 768px) {
  .intro::after {
    display: none; } }

.intro__title {
  margin: 0 auto 28px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700; }

@media (min-width: 768px) {
  .intro__title {
    width: 500px;
    font-size: 21px; } }

.intro__title--photo {
  font-size: 18px;
  line-height: 26px; }

.intro__title--form {
  margin: 0 0 27px 0; }

@media (min-width: 768px) {
  .intro__title--photo,
  .intro__title--form {
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%; } }

.intro__description {
  font-size: 14px;
  line-height: 26px;
  color: #333333; }

.intro__description--form {
  line-height: 24px; }

.intro__description--photo {
  line-height: 24px; }

@media (min-width: 768px) {
  .intro__description--photo {
    line-height: 25px; } }

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 0;
  display: block; }

@media (min-width: 768px) {
  .main-nav {
    width: 768px;
    max-height: 55px;
    background: #ffffff; } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px; } }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__list {
    display: block; }
  .main-nav--nojs ul.main-nav__list {
    display: block; }
  .main-nav--closed .main-nav__list {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 100%;
  line-height: 55px; }

@media (max-width: 767px) {
  .main-nav__item:active .main-nav__link,
  .main-nav__link--active {
    color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    color: #000000; }
  .main-nav__link:hover {
    color: #81b3d2; }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .main-nav__link--active {
    color: #766357;
    cursor: pointer; }
  .main-nav__link--active:hover {
    color: #604e43; }
  .main-nav__link--active:active {
    color: rgba(118, 99, 87, 0.3); } }

.main-nav__item {
  background: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 3;
  position: relative; }
  .main-nav__item:first-of-type {
    border-top: none; }

.main-nav__item--last {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -8px 7px -7px rgba(26, 37, 43, 0.4);
          box-shadow: inset 0 -8px 7px -7px rgba(26, 37, 43, 0.4); }

.main-nav__item--disabled {
  background: #e6e6e6; }

@media (max-width: 767px) {
  .main-nav__item:hover {
    background: #669ec0; }
  .main-nav__item:active,
  .main-nav__item--active {
    background: #5496bd; } }

@media (min-width: 768px) {
  .main-nav__item {
    background: #ffffff;
    border: none;
    padding: 0;
    margin: 0 auto;
    line-height: 56px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .main-nav__item:nth-of-type(2) {
    margin-right: 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    left: -8px; }
  .main-nav__item:nth-of-type(3) {
    margin-left: 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    left: 11px; }
  .main-nav__item:nth-of-type(1) {
    left: 6px; }
  .main-nav__item:nth-of-type(4) {
    left: -5px; } }

@media (min-width: 1200px) {
  .main-nav__item:nth-of-type(2) {
    margin-right: 90px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    left: -2px; }
  .main-nav__item:nth-of-type(3) {
    margin-left: 90px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    left: 1px; }
  .main-nav__item:nth-of-type(1) {
    left: 14px; }
  .main-nav__item:nth-of-type(4) {
    left: -15px; } }

.main-nav__top-bar {
  height: 56px;
  background: #ffffff;
  width: 100%;
  position: relative; }

@media (min-width: 768px) {
  .main-nav__top-bar {
    position: relative;
    top: -56px;
    left: auto;
    right: auto;
    margin: 0 auto;
    background: none; } }

.main-nav__logo {
  margin: 0 auto;
  position: relative; }

.main-nav__image {
  position: relative;
  z-index: 2;
  width: 102px;
  height: 83px; }

@media (min-width: 1200px) {
  .main-nav__image {
    width: 188px;
    height: 96px; } }

@media (max-width: 767px) {
  .main-nav__toggle {
    display: block;
    width: 23px;
    height: 23px;
    font-size: 0;
    position: absolute;
    top: 16px;
    right: 18px;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: 0s;
    background-repeat: no-repeat;
    background-size: 23px 23px; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav__toggle--close {
    background-image: url("../img/icon-menu.svg"); }
  .main-nav__toggle--open {
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat; } }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; } }

.map__frame {
  width: 320px;
  display: block;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: 320px 350px;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map__frame {
      background-image: url("../img/bg-map-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .map__frame {
    width: 768px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: 768px 350px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .map__frame {
      background-image: url("../img/bg-map-tablet@2x.jpg"); } }

@media (min-width: 1200px) {
  .map__frame {
    width: 1200px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: 1200px 350px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .map__frame {
      background-image: url("../img/bg-map-desktop@2x.jpg"); } }

.page-footer {
  display: block;
  margin: 0 auto;
  background: #ffffff;
  width: 320px;
  padding: 30px 0 25px 0; }

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 30px 0 36px 0; } }

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding: 35px 0 43px 0; } }

.page-header {
  width: 320px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page-header {
    width: 768px; } }

@media (min-width: 1200px) {
  .page-header {
    width: 1200px; } }

.photos {
  margin: 0 auto;
  width: 320px;
  background: #ffffff; }

@media (min-width: 768px) {
  .photos {
    width: 768px; } }

@media (min-width: 1200px) {
  .photos {
    width: 1200px; } }

.photos__item {
  padding: 22px 20px 18px;
  width: 100%;
  overflow: hidden; }

@media (min-width: 768px) {
  .photos__item {
    padding: 0;
    width: 324px;
    font-size: 0;
    position: relative; } }

@media (min-width: 1200px) {
  .photos__item {
    width: 400px; } }

@media (min-width: 768px) {
  .photos__item--large {
    width: 100%; } }

.photos__list {
  list-style: none;
  margin: 0 auto; }

@media (min-width: 768px) {
  .photos__list {
    width: 648px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .photos__list {
    width: 1200px; } }

.photos__title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin-bottom: 6px; }

@media (min-width: 1200px) {
  .photos__title {
    color: #ffffff; } }

.photos__caption {
  text-align: left; }

@media (min-width: 768px) {
  .photos__caption {
    background: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 19px 30px 9px 20px; }
  .photos__caption--large {
    padding: 19px 20px 9px 20px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .photos__caption:hover {
    background: #eeeeee; } }

@media (min-width: 1200px) {
  .photos__caption {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; } }

.photos__author {
  font-size: 14px;
  color: #333333;
  text-transform: none;
  text-align: left;
  margin-bottom: 10px; }
  .photos__author::before {
    content: "Автор фото: "; }

@media (min-width: 1200px) {
  .photos__author {
    color: #ffffff; } }

.photos__likes {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin: 0 0 0 37px;
  position: relative;
  bottom: 2px;
  cursor: pointer; }

@media (min-width: 768px) {
  .photos__likes--highlighted {
    position: relative;
    right: 5px; } }

@media (min-width: 1200px) {
  .photos__likes {
    color: #ffffff; } }

.photos__likes::before {
  position: absolute;
  left: -36px;
  top: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 22px;
  height: 20px;
  background-image: url("../img/icon-like-mobile.svg");
  background-repeat: no-repeat;
  background-size: 22px 20px;
  cursor: pointer; }

@media (min-width: 768px) {
  .photos__likes::before {
    background-image: url("../img/icon-like-mobile.svg");
    left: -32px; } }

@media (min-width: 1200px) {
  .photos__likes::before {
    background-image: url("../img/icon-like-desktop.svg"); } }

.photos__image {
  margin: 0 0 19px 0;
  width: 100%;
  height: auto;
  display: block;
  background-color: #9e774c; }

@media (min-width: 768px) {
  .photos__image {
    margin-bottom: 0;
    height: 267px; }
  .photos__image--large {
    height: 400px; } }

.photos__fullsize {
  height: 280px; }

@media (min-width: 768px) {
  .photos__fullsize {
    height: 268px; }
  .photos__fullsize--large {
    height: 400px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0; }

@media (min-width: 768px) {
  .social__list {
    margin: 0 0 0 0; } }

.social__item {
  display: block;
  width: 46px;
  height: 48px;
  padding: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  vertical-align: middle;
  margin: 0 3px;
  background: #81b3d2; }

.social__item:hover {
  background-color: #669ec0; }

.social__item:active {
  background-color: #5496bd; }

.social__icon {
  fill: #ffffff;
  line-height: 48px;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.social__item:active .social__icon {
  fill: #81b3d2; }

.subheader {
  display: block;
  position: relative;
  height: 157px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 768px 389px;
  background-position: center center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .subheader {
      background-image: url("../img/bg-back-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .subheader {
    height: 289px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px 518px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .subheader {
      background-image: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 1200px) {
  .subheader {
    height: 300px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 518px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .subheader {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

.subheader--home {
  height: 389px;
  display: block; }

@media (min-width: 768px) {
  .subheader--home {
    height: 518px; } }

.subheader::after {
  content: "";
  display: block;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 334px auto;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto; }

@media (min-width: 768px) {
  .subheader::after {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 768px auto; } }

@media (min-width: 1200px) {
  .subheader::after {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 1200px auto; } }

.subheader__cover {
  background-color: #778591;
  display: block;
  position: absolute;
  bottom: 0;
  right: -225px;
  z-index: -1;
  height: 389px;
  width: 768px;
  text-align: center; }

@media (min-width: 768px) {
  .subheader__cover {
    height: 518px;
    width: 768px;
    right: 0;
    left: 0; } }

@media (min-width: 1200px) {
  .subheader__cover {
    height: 518px;
    width: 1200px; } }

.subheader__title {
  position: absolute;
  top: 52px;
  bottom: 66px;
  left: 0;
  right: 0;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  background-size: contain;
  margin: 0 auto; }

@media (min-width: 768px) {
  .subheader__title {
    top: 95px;
    bottom: 115px; } }

@media (min-width: 1200px) {
  .subheader__title {
    top: 100px;
    bottom: 120px; } }

.subheader__title--home {
  background-image: url("../img/text-sedona-index.svg");
  top: 90px;
  bottom: 90px; }

@media (min-width: 768px) {
  .subheader__title--home {
    top: 75px;
    bottom: 92px; } }

.survey {
  padding: 30px 20px 50px;
  margin: 0 auto;
  background: #ffffff;
  width: 320px; }

@media (min-width: 768px) {
  .survey {
    width: 768px;
    padding: 55px 20px 60px; } }

@media (min-width: 1200px) {
  .survey {
    width: 1200px;
    padding: 55px 20px 68px; } }

.survey--photo {
  padding: 32px 20px 45px; }

@media (min-width: 768px) {
  .survey--photo {
    padding: 66px 25px 45px; } }

@media (min-width: 1200px) {
  .survey--photo {
    padding: 70px 25px 86px; } }

.survey__title {
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0 auto 20px;
  width: 100%; }

@media (min-width: 768px) {
  .survey__title {
    width: 458px;
    font-size: 30px;
    margin-bottom: 32px; } }

.survey__title--photo {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto 25px; }

@media (min-width: 768px) {
  .survey__title--photo {
    font-size: 30px;
    margin: 0 auto 30px; } }

.survey__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto 35px; }

.survey__description--photo {
  margin: 0 auto 35px;
  padding: 0 10px; }

@media (min-width: 768px) {
  .survey__description {
    margin: 0 auto 45px; }
  .survey__description--photo {
    margin: 0 auto 75px; } }

@media (min-width: 1200px) {
  .survey__description {
    margin: 0 auto 49px; }
  .survey__description--photo {
    margin: 0 auto 72px; } }

.survey__button {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .survey__button {
    width: 458px; } }

.video__wrapper {
  font-size: 0;
  position: relative;
  margin: 0 auto; }

@media (min-width: 768px) {
  .video__wrapper {
    width: 648px; } }

@media (min-width: 1200px) {
  .video__wrapper {
    width: 800px; } }

.video__item {
  margin: 0 -20px;
  display: block; }

@media (min-width: 768px) {
  .video__item {
    width: 648px;
    height: 500px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .video__item {
    width: 800px; } }

.video__controls {
  position: relative; }

.video__seek-bar {
  background: rgba(0, 0, 0, 0.6);
  height: 45px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 0 22px;
  z-index: 2; }

@media (min-width: 768px) {
  .video__seek-bar {
    background: transparent;
    padding: 0 0;
    height: 3px;
    width: 387px;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto; } }

@media (min-width: 1200px) {
  .video__seek-bar {
    width: 540px; } }

.video__length {
  display: block;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  margin: 21px 0 0;
  cursor: pointer; }

@media (min-width: 768px) {
  .video__length {
    margin: 0 0 0; } }

.video__current {
  display: block;
  background: #ffffff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: absolute;
  bottom: 18px;
  left: 78px;
  cursor: pointer; }

.video__current:hover {
  background: #333333; }

.video__current:active {
  background: #c1c1c1; }

@media (min-width: 768px) {
  .video__current {
    position: absolute;
    bottom: -3px;
    left: 70px; } }

.video__buttons-set {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  padding: 0 18px;
  margin: 0 0; }

@media (min-width: 768px) {
  .video__buttons-set {
    height: 93px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 36px 0 28px; } }

.video__button {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.video__button--replay {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.video__icon {
  width: 32px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  fill: #5c6870; }

@media (min-width: 768px) {
  .video__icon {
    fill: #ffffff; } }

.video__button:nth-of-type(1) {
  margin-right: auto; }

@media (min-width: 768px) {
  .video__button:nth-of-type(1) {
    margin-right: 0; } }

.video__button:nth-of-type(3) {
  margin-left: 30px; }

@media (min-width: 768px) {
  .video__button:nth-of-type(3) {
    margin-left: 0; }
  .video__button:nth-of-type(2) {
    position: relative;
    left: 10px;
    overflow: visible; } }

.video__button:hover .video__icon {
  fill: #333333; }

.video__button:active .video__icon {
  fill: #c1c1c1; }

.modal {
  display: block;
  width: 320px;
  background: #ffffff;
  padding: 45px 45px 35px;
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 45px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 45px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin: 0 auto; }

.modal--opened {
  display: block; }

.modal--closed {
  display: none; }

.modal--fail {
  bottom: 480px; }

@media (min-width: 768px) {
  .modal--fail {
    bottom: 210px;
    padding: 55px 58px 50px;
    width: 400px; } }

.modal--success {
  bottom: 115px;
  width: 640px;
  padding: 45px 45px 0; }

@media (min-width: 768px) {
  .modal--success {
    bottom: 380px;
    padding: 65px 110px 0; } }

.modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 35px 0;
  color: #000000; }

@media (min-width: 768px) {
  .modal__title {
    font-size: 30px; }
  .modal__title--fail {
    margin: 0 20px 35px; } }

.modal__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 35px 0;
  color: #000000; }

.modal-footer {
  padding: 20px 20px 20px;
  background: #f2f2f2;
  margin: 0 -45px; }

@media (min-width: 768px) {
  .modal-footer {
    padding: 45px 95px 45px;
    margin: 0 -110px; } }

.modal__button {
  display: block;
  width: 180px; }

@media (min-width: 768px) {
  .modal__button {
    width: 100%; } }
